{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}首页{% endblock title %}

{% block content %}

<div class="center_con clearfix">
    <ul class="subnav fl">
        {% for category in categories %}
            <li><a href="{% url 'list' %}?category_id={{ category.id }}" class="{{ category.icon }}">{{ category.name }}</a></li>
        {% endfor %}
    </ul>

    <div class="slide fl">
        <ul class="slide_pics">
            <li style="left: -760px;"><img src="{% static 'slide.jpg' %}" alt="幻灯片"></li>
            <li style="left: 0px;"><img src="{% static 'slide02.jpg' %}" alt="幻灯片"></li>
            <li style="left: 760px;"><img src="{% static 'slide03.jpg' %}" alt="幻灯片"></li>
            <li style="left: 760px;"><img src="{% static 'slide04.jpg' %}" alt="幻灯片"></li>
        </ul>
        <div class="prev"></div>
        <div class="next"></div>
        <ul class="points">
            <li class=""></li>
            <li class="active"></li>
            <li></li>
            <li></li>
        </ul>
    </div>
    <div class="adv fl">
        <a href="http://www.xiaozhican.top/shop/index/#"><img src="{% static 'adv01.jpg' %}"></a>
        <a href="http://www.xiaozhican.top/shop/index/#"><img src="{% static 'adv02.jpg' %}"></a>
    </div>
</div>

{% for category in categories %}
    <div class="list_model">
    <div class="list_title clearfix">
        <h3 class="fl" id="model01">{{ category.name }}</h3>
        <a href="http://www.xiaozhican.top/shop/categorys/1/" class="goods_more fr" id="fruit_more">查看更多 &gt;</a>
    </div>
    <div class="goods_con clearfix">
        <div class="goods_banner fl"><img src="{% static 'banner01.jpg' %}"></div>
        <ul class="goods_list fl">
            {% for goods in category.goods_set.all|slice:':4' %}
                <li>
                    <h4><a href="{% url 'detail' %}?goods_id={{ goods.id }}">{{ goods.name }}</a></h4>
                    <a href="{% url 'detail' %}?goods_id={{ goods.id }}">
                        <img src="{{ MEDIA_URL }}{{ goods.thumb }}">
                    </a>
                    <div class="prize">¥ {{ goods.price }}</div>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endfor %}

{% endblock content %}